*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(200deg ,rgb(255, 30, 30) , purple , rgb(68, 0, 255));
    color: #fff;
    padding-top: 10%;
    padding-left: 5%;
}

.container h1{
    display: flex;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
}

.container h1 img {
    width: 60px;
    margin: 0px 20px;
}

.container button img {
    width: 25px;
    margin-right: 9px;
}

.container button {
    display: flex;
    align-items: center;
    background: linear-gradient( rgb(255, 24, 24),rgb(255, 0, 255));
    color: white;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 6px 20px;
    margin:  10px 35px;
    cursor: pointer;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 450px;
    min-height: 150px;
    background: wheat;
    color: blue;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
}